### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
%load_ext lab_black
import os
import csv
import pandas as pd

# File to Load (Remember to Change These)
path = os.path.join("Resources/purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(path)

## Player Count

* Display the total number of players

In [2]:
purchase_data["SN"].value_counts()
total = [len(purchase_data["SN"].value_counts())]
total
type(total)
df = pd.DataFrame(total, columns=["Total Players"])
df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
(len(purchase_data["Item ID"].value_counts()))
(purchase_data["Price"].mean())
(len(purchase_data["Purchase ID"].value_counts()))
(purchase_data["Price"].sum())

(purchase_data["Price"].mean())
avg_price = purchase_data["Price"].mean()
total_rev = purchase_data["Price"].sum()

In [4]:
summary = [
    {
        "Unique Item Count": len(purchase_data["Item ID"].value_counts()),
        "Average Price": "${:.2f}".format(avg_price),
        "Number of Purchases": len(purchase_data["Purchase ID"].value_counts()),
        "Total Revenue": "${:.2f}".format(total_rev),
    }
]
summary_df = pd.DataFrame(summary)
summary_df

   Unique Item Count Average Price  Number of Purchases Total Revenue
0                183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# need to get the unique Males and Females
u_males = purchase_data[purchase_data["Gender"] == "Male"]
mc = u_males["SN"].value_counts()

u_females = purchase_data[purchase_data["Gender"] == "Female"]
fc = u_females["SN"].value_counts()

u_unknown = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
uc = u_unknown["SN"].value_counts()

male_count = len(mc)
female_count = len(fc)
unknown_count = len(uc)

total_count = male_count + female_count + unknown_count

male_percent = (male_count / total_count) * 100
female_percent = (female_count / total_count) * 100
unknown_percent = (unknown_count / total_count) * 100

form_male_percent = "{0:.2f}%".format(male_percent)
form_female_percent = "{0:.2f}%".format(female_percent)
form_unknown_percent = "{0:.2f}%".format(unknown_percent)

data = {
    "Total Count": [male_count, female_count, unknown_count],
    "Percentage of Players": [
        form_male_percent,
        form_female_percent,
        form_unknown_percent,
    ],
}

df = pd.DataFrame(data, index=["Male", "Female", "Other/Non-Disclosed"])
df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# puchase count
male_purch_count = len(purchase_data.loc[purchase_data["Gender"] == "Male"])
female_purch_count = len(purchase_data.loc[purchase_data["Gender"] == "Female"])
unknown_purch_count = len(
    purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
)

In [7]:
# avg purchase price
m_avg_price = purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()

f_avg_price = purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()

u_avg_price = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"][
    "Price"
].mean()

form_m_avg_price = "{0:.2f}".format(m_avg_price)
form_f_avg_price = "{0:.2f}".format(f_avg_price)
form_u_avg_price = "{0:.2f}".format(u_avg_price)

In [8]:
# Total Purchase Value by gender
m_total_price = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()

f_total_price = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()

u_total_price = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"][
    "Price"
].sum()


form_m_total_price = "${:.2f}".format(m_total_price)
form_f_total_price = "${:.2f}".format(f_total_price)
form_u_total_price = "${:.2f}".format(u_total_price)

In [9]:
# avg total purchase per person by gender
m_total_price = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()

f_total_price = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()

u_total_price = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"][
    "Price"
].sum()

m_avg_total = m_total_price / male_count
f_avg_total = f_total_price / female_count
u_avg_total = u_total_price / unknown_count

form_m_avg_total = "${:.2f}".format(m_avg_total)
form_f_avg_total = "${:.2f}".format(f_avg_total)
form_u_avg_total = "${:.2f}".format(u_avg_total)

In [10]:
# dataframe for Puchase Analysis(Gender)

data = {
    "Purchase Count": [male_purch_count, female_purch_count, unknown_purch_count],
    "Avg Purchase Price": [form_m_avg_price, form_f_avg_price, form_u_avg_price],
    "Total Purchase Value": [
        form_m_total_price,
        form_f_total_price,
        form_u_total_price,
    ],
    "Avg Total Puchases per Person": [
        form_m_avg_total,
        form_f_avg_total,
        form_u_avg_total,
    ],
}

df = pd.DataFrame(data, index=["Male", "Female", "Other/Non-Disclosed"])
df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Puchases per Person
Male,652,3.02,$1967.64,$4.07
Female,113,3.20,$361.94,$4.47
Other/Non-Disclosed,15,3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
df = purchase_data["Age"]
bins = pd.cut(
    x=df,
    bins=[0, 10, 15, 20, 25, 30, 35, 40, 100],
    labels=[
        "<10",
        "10 to 14",
        "15 to 19",
        "20 to 24",
        "25 to 29",
        "30 to 34",
        "35 t0 39",
        "40+",
    ],
)

In [12]:
bins

0      15 to 19
1      35 t0 39
2      20 to 24
3      20 to 24
4      20 to 24
         ...
775    20 to 24
776    20 to 24
777    15 to 19
778         <10
779    20 to 24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 t0 39 < 40+]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
purchase_data["SN"].value_counts().head(5)

Lisosia93      5
Iral74         4
Idastidru52    4
Idai61         3
Lisim78        3
Name: SN, dtype: int64

In [14]:
df = purchase_data.loc[purchase_data["SN"] == "Lisosia93"]
df_count = df["SN"].value_counts()


df_avg = df["Price"].mean()
form_df_avg = "${:.2f}".format(df_avg)
form_df_avg

df_total_price = df["Price"].sum()
form_df_total = "${:.2f}".format(df_total_price)


sn_two = purchase_data.loc[purchase_data["SN"] == "Idastidru52"]
sn_two_count = sn_two["SN"].value_counts()
sn_two_avg = sn_two["Price"].mean()
form_sn_two_avg = "${:.2f}".format(sn_two_avg)
form_sn_two_avg

sn_two_total_price = sn_two["Price"].sum()
form_sn_two_total = "${:.2f}".format(sn_two_total_price)

sn_three = purchase_data.loc[purchase_data["SN"] == "Chamjask73"]
sn_three_count = sn_three["SN"].value_counts()
sn_three_avg = sn_three["Price"].mean()
form_sn_three_avg = "${:.2f}".format(sn_three_avg)
form_sn_three_avg

sn_three_total_price = sn_three["Price"].sum()
form_sn_three_total = "${:.2f}".format(sn_three_total_price)

sn_four = purchase_data.loc[purchase_data["SN"] == "Iral74"]
sn_four_count = sn_four["SN"].value_counts()
sn_four_avg = sn_four["Price"].mean()
form_sn_four_avg = "${:.2f}".format(sn_four_avg)
form_sn_four_avg

sn_four_total_price = sn_four["Price"].sum()
form_sn_four_total = "${:.2f}".format(sn_four_total_price)

sn_five = purchase_data.loc[purchase_data["SN"] == "Iskadarya95"]
sn_five_count = sn_five["SN"].value_counts()
sn_five_avg = sn_five["Price"].mean()
form_sn_five_avg = "${:.2f}".format(sn_five_avg)
form_sn_five_avg

sn_five_total_price = sn_five["Price"].sum()
form_sn_five_total = "${:.2f}".format(sn_five_total_price)


data = {
    "Purchase Count": [5, 4, 3, 4, 3,],
    "Avg Purchase Price": [
        form_df_avg,
        form_sn_two_avg,
        form_sn_three_avg,
        form_sn_four_avg,
        form_sn_five_avg,
    ],
    "Total Purchase Value": [
        form_df_total,
        form_sn_two_total,
        form_sn_three_total,
        form_sn_four_total,
        form_sn_five_total,
    ],
}

new_df = pd.DataFrame(
    data, index=["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"]
)
new_df

             Purchase Count Avg Purchase Price Total Purchase Value
Lisosia93                 5              $3.79               $18.96
Idastidru52               4              $3.86               $15.45
Chamjask73                3              $4.61               $13.83
Iral74                    4              $3.40               $13.62
Iskadarya95               3              $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
df = purchase_data.drop(["Purchase ID", "SN", "Age", "Gender"], axis=1)
df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [16]:
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
# name_id = df.groupby(["Item ID", "Item Name"], axis=1)
df.groupby(["Item ID", "Item Name"])["Price"].value_counts()

Item ID  Item Name                        Price
0        Splinter                         1.28     4
1        Crucifer                         3.26     3
2        Verdict                          2.48     6
3        Phantomlight                     2.49     6
4        Bloodlord's Fetish               1.70     5
                                                  ..
179      Wolf, Promise of the Moonwalker  4.48     6
180      Stormcaller                      3.36     1
181      Reaper's Toll                    1.66     5
182      Toothpick                        4.03     3
183      Dragon's Greatsword              1.09     3
Name: Price, Length: 183, dtype: int64

In [17]:
df["Item ID"].value_counts()

178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame