### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
%load_ext lab_black
import os
import csv
import pandas as pd

# File to Load (Remember to Change These)
path = os.path.join("Resources/purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(path)

## Player Count

* Display the total number of players

In [2]:
purchase_data["SN"].value_counts()
total = [len(purchase_data["SN"].value_counts())]
total
type(total)
df = pd.DataFrame(total, columns=["Total Players"])
df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
print(len(purchase_data["Item ID"].value_counts()))
print(purchase_data["Price"].mean())
print(len(purchase_data["Purchase ID"].value_counts()))
print(purchase_data["Price"].sum())

print(purchase_data["Price"].mean())
avg_price = purchase_data["Price"].mean()
total_rev = purchase_data["Price"].sum()
"${:.2f}".format(avg_price)
"${:.2f}".format(total_rev)

183
3.050987179487176
780
2379.77
3.050987179487176

'$2379.77'

In [37]:
summary = [
    {
        "Unique Item Count": len(purchase_data["Item ID"].value_counts()),
        "Average Price": "${:.2f}".format(avg_price),
        "Number of Purchases": len(purchase_data["Purchase ID"].value_counts()),
        "Total Revenue": "${:.2f}".format(total_rev),
    }
]
summary_df = pd.DataFrame(summary)
summary_df

   Unique Item Count Average Price  Number of Purchases Total Revenue
0                183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [44]:
# need to get the unique Males and Females
u_males = purchase_data[purchase_data["Gender"] == "Male"]
mc = u_males["SN"].value_counts()

u_females = purchase_data[purchase_data["Gender"] == "Female"]
fc = u_females["SN"].value_counts()

u_unknown = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
uc = u_unknown["SN"].value_counts()

male_count = len(mc)
female_count = len(fc)
unknown_count = len(uc)

total_count = male_count + female_count + unknown_count

male_percent = (male_count / total_count) * 100
female_percent = (female_count / total_count) * 100
unknown_percent = (unknown_count / total_count) * 100

form_male_percent = "{0:.2f}%".format(male_percent)
form_female_percent = "{0:.2f}%".format(female_percent)
form_unknown_percent = "{0:.2f}%".format(unknown_percent)

data = {
    "Total Count": [male_count, female_count, unknown_count],
    "Percentage of Players": [
        form_male_percent,
        form_female_percent,
        form_unknown_percent,
    ],
}

df = pd.DataFrame(data, index=["Male", "Female", "Other/Non-Disclosed"])
df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [6]:
# Close but not completely right
# male_count = len(purchase_data.loc[purchase_data["Gender"] == "Male"])
# female_count = len(purchase_data.loc[purchase_data["Gender"] == "Female"])
# unknown_count = len(
#    purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
# )
# total_count = male_count + female_count + unknown_count

# male_percent = male_count / total_count
# female_percent = female_count / total_count
# unknown_percent = unknown_count / total_count

# data = {
#    "Total Count": [male_count, female_count, unknown_count],
#    "Percentage of Players": [male_percent, female_percent, unknown_percent],
# }

# df = pd.DataFrame(data, index=["Male", "Female", "Other/Non-Disclosed"])
# df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# puchase count
male_purch_count = len(purchase_data.loc[purchase_data["Gender"] == "Male"])
female_purch_count = len(purchase_data.loc[purchase_data["Gender"] == "Female"])
unknown_purch_count = len(
    purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
)
print(male_purch_count)
print(female_purch_count)
print(unknown_purch_count)

652
113
15

In [8]:
# avg purchase price
m_avg_price = purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()
print(m_avg_price)
f_avg_price = purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()
print(f_avg_price)
u_avg_price = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"][
    "Price"
].mean()
print(u_avg_price)

3.0178527607361953
3.203008849557519
3.3460000000000005

In [9]:
# Total Purchase Value by gender
m_total_price = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
print(m_total_price)
f_total_price = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
print(f_total_price)
u_total_price = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"][
    "Price"
].sum()
print(u_total_price)

1967.64
361.94
50.19

In [10]:
# Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person

In [11]:
# avg total purchase per person by gender
m_total_price = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
print(m_total_price)
f_total_price = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
print(f_total_price)
u_total_price = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"][
    "Price"
].sum()
# print(m_total_price / male_count)
# print(f_total_price / female_count)
# print(u_total_price / unknown_count)

m_avg_total = m_total_price / male_count
f_avg_total = f_total_price / female_count
u_avg_total = u_total_price / unknown_count
print(m_avg_total)

1967.64
361.94
4.065371900826446

In [12]:
# dataframe for Puchase Analysis(Gender)

data = {
    "Purchase Count": [male_purch_count, female_purch_count, unknown_purch_count],
    "Avg Purchase Price": [m_avg_price, f_avg_price, u_avg_price],
    "Total Purchase Value": [m_total_price, f_total_price, u_total_price],
    "Avg Total Puchases per Person": [m_avg_total, f_avg_total, u_avg_total],
}

df = pd.DataFrame(data, index=["Male", "Female", "Other/Non-Disclosed"])
df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Puchases per Person
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other/Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
df = purchase_data["Age"]
bins = pd.cut(
    x=df,
    bins=[0, 10, 15, 20, 25, 30, 35, 40, 100],
    labels=[
        "<10",
        "10 to 14",
        "15 to 19",
        "20 to 24",
        "25 to 29",
        "30 to 34",
        "35 t0 39",
        "40+",
    ],
)

In [14]:
bins

0      15 to 19
1      35 t0 39
2      20 to 24
3      20 to 24
4      20 to 24
         ...
775    20 to 24
776    20 to 24
777    15 to 19
778         <10
779    20 to 24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 t0 39 < 40+]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame